@use 'mixins' as *;

.header {
  height: 54px;
}

.title {
  font-family: var(--title-font);
  line-height: 1.1;
  margin-bottom: 31px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.07em;
  display: contents;

  .border-bottom {
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    margin-bottom: 20px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.profile {
  font-family: var(--title-font);
  position: relative;

  &-img {
    border-radius: 50%;
  }

  .home {
    font-weight: 700;
    position: relative;
    padding-right: 0;
    color: var(--color);
    text-decoration: none;
    line-height: 1;

    // &::after {
    //   content: "";
    //   background-image: url(/public/images/verified.png);
    //   width: 16px;
    //   height: 16px;
    //   position: absolute;
    //   top: -6px;
    //   right: -18px;
    // }
  }
}


.identifier {
  font-size: 94px;
  text-transform: uppercase;
  font-family: var(--primary-font);
  color: var(--color);
  letter-spacing: 0.1em;
  position: relative;
  display: flex;
  line-height: 1.1em;

  .word {
    display: flex;
    margin-right: 0.2em;
  }

  span {
    display: inline-block;
    opacity: 0; 
    animation: fade-in 1s forwards; 
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  span {
    transition: .4s ease all;
    opacity: .7;

    &:hover {
      opacity: 1
    }
  }

  @include breakpoint(xs) {
    display: flex;
    font-size: 30px;
    align-items: center;
  }

  // &::before {
  //   background-color: #2d2d2d;
  //   content: "";
  //   display: block;
  //   height: .5em;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  // }
}

.desc {
  font-size: 20px;
  letter-spacing: 0.03em;
  display: contents;

  @include breakpoint(xs) {
    font-size: 17px;
  }
}