
:root {

    --white: #ffffff;

    --yellow: #F4B216;
    --blue: #57C6D4;
    --red-light: #F06541;
    --red: #A25A4E;

    --primary-color: var(--red);
    --text-color: #000;

    --primary-font: 'PT Serif', serif;
    --title-font: 'Share', sans-serif;
}